/* universal styling reset - ensures padding/margin is consistent across browsers */
* {
    padding: 0;
    margin: 0;
}

/* display: block; makes it a block level element instead of inline. Gets its own space. */
/* margin: 0 auto; - 0 means no margin top and bottom, auto means adjust left and right margins equally (width must be provided to work) */
canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#board {
    background-color: #eee;
    box-shadow: 0 5px 40px black;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}
  
.game-ui {
    margin-top: 20px;
}
  
#scoreDisplay {
    font-size: 18px;
    margin-bottom: 10px;
}
  
#instructions {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
#startBtn,
#restartBtn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
}
  
#startBtn:disabled,
#restartBtn:disabled {
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}

.chatroom-container {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 900px;
    padding: 20px;
}

#messageDisplay {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

button {
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}