#gamecontainer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 480px;
    width: 560px;

    background-color: blue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* spaces that hold pieces */
    height: 72px;
    width: 72px;
    margin: 2px;

    background-color: gray;
    border-radius: 50%;
    border: 3px solid navy;
}

.red-piece{
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}