* {
    font-family: sans-serif;
    color: var(--text-color);
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.background {
    overflow-x: visible;
    width: 100%;
}

body {
    text-align: center;
}

#board {
    background-image: url("/arcade-games/flappy-bird-img//flappybirdbg.png");
}

.main-container {
    background-image: url("/arcade-games//flappy-bird-img/background.png");
    width: 100%;
    height: 850px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid black;
    border-radius: 10px;
    padding: 10px;
}

.game-title-tag {
    margin: auto;
}

footer {
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    color: white;
    width: 100%;
}
