

/* ------------------------------------------------ */

/* BOARD FOR GAME */
#board {
    background-image: url("../arcade-games/flappy-bird-img/flappybirdbg.png");
    filter: brightness(100%) !important;
    z-index: 1000;
}

/* ------------------------------------------------ */

/* GAME TITLE */ 
.game-title-tag {
    margin: auto; 
    display: inline-block;
}


/* MAIN CONTAINER, ~CONTAINERS BACKGROUND, 3 CONTAINERS */
.main-container {
    background-image: url("../arcade-games/flappy-bird-img/background.png");
    filter: brightness(100%);
    width: 1200;
    z-index: 100;
    margin: 50px 0 50px 0;
    border: 10px solid black;
    display: flex; 
    justify-content: space-between;
}

.sidebar {
    display: flex;
    width: 200px;
}

.game-container {
    display: flex;

}

/*
Notes





*/