#board {
    background-color: #111;
    box-shadow: 0 5px 40px black;
    margin: 20px auto;
    display: block;
}
  
.game-ui {
    margin-top: 20px;
}
  
#scoreDisplay {
    font-size: 18px;
    margin-bottom: 10px;
}
  
#instructions {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
#startBtn,
#restartBtn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
}
  
#startBtn:disabled,
#restartBtn:disabled {
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}
  
#gameOverMessage {
    display: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }
  