/* GLOBAL STYLING */
* {
    font-family: sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}


html, body {
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.welcome-tag {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 700px;
    margin-top: 55px;
    border-bottom: 2px solid #3b3b3b;
}

/* ------------------------------------------------ */

/* WELCOME SECTION */
.welcome-tag {
    text-align: center; 
    padding: 100px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: neon-glow 1.5s infinite alternate;
}

/* GLOW ANIMATION */
@keyframes neon-glow {
    0% {
        box-shadow: 0 0 10px rgb(60, 60, 60), 0 0 15px rgb(60, 60, 60);
    }
    50% {
        box-shadow: 0 0 20px rgb(60, 60, 60), 0 0 35px rgb(60, 60, 60), 0 0 45px rgb(60, 60, 60);
    }
    100% {
        box-shadow: 0 0 10px rgb(60, 60, 60), 0 0 15px rgb(60, 60, 60);
    }
}

/* BACKGROUND OF BOTTOM LAYER */
.background {
    margin: auto;
    text-align: center;
    display: flex;
    border-radius: 60px;
    padding: 50px;
    background-color: #1d1d1d;
    justify-content: center;
    align-content: center;
    border: 10px solid var(--flexbox-background-color);
    box-shadow: 
        0px 0px 50px rgba(36, 36, 36, 0.7),
        0px 0px 100px rgba(53, 53, 53, 0.6), 
        0px 10px 50px rgba(24, 24, 24, 0.6); 
}

/* LARGE DARK OUTLINE */
.games-section {
    border-radius: 45px;
    padding: 25px;
    border: 25px solid var(--flexbox-background-color);
    box-shadow: 
        0px 0px 100px rgba(0, 0, 0, 0.7),
        0px 0px 150px rgba(6, 6, 6, 0.6), 
        0px 25px 100px rgba(6, 6, 6, 0.6); 
    margin: auto;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden; 
    margin: 0 auto;
}

/* ------------------------------------------------ */

/* GAME TYPE */
.title-container {
    padding: 10px; 
    background-color: var(--flexbox-background-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding-left: 40px;
    font-weight: 800;
    max-width: 1000px;
}

.section-container {
   flex: 0 0 250px;
   min-width: 250px;
   max-width: 250px;
}

/* GAMES CONTAINER */
.games-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    max-width: 800px;
    gap: 10px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid var(--flexbox-background-color);
}

.games-container::-webkit-scrollbar {
    height: 10px;
}
.games-container::-webkit-scrollbar-thumb {
    background-color: var(--flexbox-background-color); 
    border-radius: 10px;
}

/* IMAGE AND TITLE CONTAINER */
.outtergames-flexbox {
    flex: 0 0 250px; 
    min-width: 250px; 
    height: 170px;
    display: inline-block;
}

.background {
    overflow-x: visible;
    width: 100%;
    max-width: 1200px;
}


/* PREVIEW IMAGE FOR GAME */
.games-preview {
    width: 200px; 
    height: 140px; 
    padding: 15px;
    object-fit: cover;
}

section {
    max-width: 1000px;
}

/* SIDE BAR CONTAINERS */
.sidebar {
    width: 150px;
    padding: 75px;
    display: flex;
    flex-direction: column;
    z-index: 2; 
    background-color: none;
    align-items: center;
    margin-top: 120px;
    gap: 150px;
}

.main-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
  background-color: rgb(38, 38, 38);
  border-top: 5px solid #111;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  color: white;
  width: 100%;
}
.leaderboard-section {
    background-color: #444;
    color: white; /* To make the text readable on the dark background */
    padding: 20px; /* Keep the padding for spacing */
    margin-top: 50px; /* Keep the margin for spacing */
    border-radius: 8px; /* Keep the border-radius if you like it */
  }