/* STYLING RULES */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --accent-color: black;
    --base-color: rgb(12, 9, 27);
    --text-color: black;
    --input-color: white;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

html {
    font-family: sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 25px;
}

/* ------------------------------------------------ */
.main-container {
    margin-top: 150px; 
    margin-bottom: 150px; 
    background-image: url('background.gif');
    animation: neon-glow 1.5s infinite alternate;
    padding: 50px;
}

@keyframes neon-glow {
    0% {
        box-shadow: 0 0 10px rgb(60, 60, 60), 0 0 15px rgb(60, 60, 60);
    }
    50% {
        box-shadow: 0 0 20px rgb(60, 60, 60), 0 0 35px rgb(60, 60, 60), 0 0 45px rgb(60, 60, 60);
    }
    100% {
        box-shadow: 0 0 10px rgb(60, 60, 60), 0 0 15px rgb(60, 60, 60);
    }
}


/* OUTTER CONTAINER */ 
.outter-container {
    background-color: rgb(19, 19, 19); 
    margin: auto; 
    display: block; 
    width: 500px; 
    height: 600px; 
    border: 2px solid #101010; 
    border-radius: 15px; 
    padding: 45px;
    box-shadow: 
    0px 0px 50px rgba(36, 36, 36, 0.7),  /* Dark shadow on top */
    0px 0px 100px rgba(53, 53, 53, 0.6), /* Light shadow at the bottom */
    0px 10px 50px rgba(24, 24, 24, 0.6); /* Soft shadow around the container */
}

/* INNER CONTAINER */
.container{
    box-sizing: border-box;
    background-color:rgb(19, 19, 19);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    height: 400px; 
    width: 500px;
}