

/* ------------------------------------------------ */

/* FORM INPUT STYLING */
form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color:var(--accent-color);
    fill: white;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
}

/* USER TYPING INTERFACE */
form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid rgba(173, 173, 173, 0.929);
    border-left: none;
    background-color: white;
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color);
}


/* BUTTON FORMAT*/
form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    font-weight: 600px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--text-color);
}

form button:focus {
    outline: none;
    background-color: var(--text-color);
}

/* SIGN UP BTN BUTTON */
.sign-up-btn {
    color: white; 
    font-size: 1em; 
    font-weight: 700;
    background-color: black;
}

/* TO DO */
.sign-up-btn:hover {
    background-color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

@media(max-width: 1100px) {
    .container {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

/* ------------------------------------------------ */

/* AUTHENTICATION */
.auth-container {
    display:inline-block; 
    border: 1px solid rgb(53, 53, 53); 
    padding: 10px 50px 10px 50px; 
    border-radius: 15px;
}

.text-lg {
    color: white;
    font-weight: 700;
}

/* ------------------------------------------------ */

/* INCORRECT INPUT SIGN UP*/
form div.incorrect label{
    background-color: #f06272;
}

form div.incorrect input {
    border-color: #f06272;
}

#error-message {
    color: #f06272;
}

/* ------------------------------------------------ */

/* SIDE ICONS */
button#toggle-password img {
    width: 20px;
    height: 20px;
    top: 20%;
    cursor: pointer;
    transform: translateX(-250%);
    position: absolute;
}

