form > div {
    width: 100%;
    display: flex;
    align-items: center; /* Vertically align label and input */
    justify-content: flex-start;
    margin-bottom: 10px;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: white;
    color: white;
    display: flex; /* Make label a flex container */
    align-items: center; /* Center SVG vertically */
    justify-content: center; /* Center SVG horizontally */
    border-radius: 10px 0 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid rgba(173, 173, 173, 0.929);
    border-left: none;
    background-color: white;
    transition: 150ms ease;
    height: 50px; /* Match label height */
}

/* ------------------------------------------------ */

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color);
}


form button:hover {
    background-color: var(--text-color);
}

form button:focus {
    outline: none;
    background-color: var(--text-color);
}

/* SIGN UP BTN BUTTON */
.sign-up-btn {
    color: white; 
    font-size: 1em; 
    font-weight: 700;
    background-color: black;
}

/* TO DO */
.sign-up-btn:hover {
    background-color: grey;
    cursor: pointer;
}

@media(max-width: 1100px) {
    .container {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

/* ------------------------------------------------ */

/* SIDE ICONS */
button#toggle-password img {
    width: 20px;
    height: 20px;
    top: 20%;
    cursor: pointer;
    transform: translateX(-250%);
    position: absolute;
}

